<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>선택해보자</h1>
  <!-- get요청 -->
  <a href="/webtoons">웹툰 리스트로 가기</a><br>
  <a href="/movies">영화 리스트로 가기</a><br>
  <a href="/foods">음식 리스트로 가기</a><br>
  <a href="/elecs">전자기기 리스트로 가기</a><br>
  <a href="/students">학생 리스트로 가기</a>
</body>

</html>