<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>해당하는 음식 페이지</h1>
  <br />
  <h1>
    <%= foods.name %>
  </h1>
  <p>
    카테고리: <%= foods.category %>
  </p>
  <p>
    가격: <%= foods.price %>
  </p>
  <p>
    칼로리: <%= foods.calories %>
  </p>

  <a href="/foods">뒤로가기</a>
</body>

</html>