<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/public/css/global.css" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>해당하는 학생 페이지</h1>
  <br />
  <table>
    <tr>
      <th>이름</th>
      <th>나이</th>
      <th>학과</th>
      <th>성적</th>
    </tr>
    <tr>
      <td>
        <%= students.name %>
      </td>
      <td>
        <%= students.age %>
      </td>
      <td>
        <%= students.major %>
      </td>

      <td>
        <%= students.grade %>
      </td>
    </tr>

  </table>
  <br />
  <a href="/students">뒤로가기</a>
</body>

</html>