<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/public/css/global.css" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>전자기기인 제품 페이지</h1>
  <br />
  <table>
    <tr>
      <th>제품명</th>
      <th>가격</th>
      <th>브랜드</th>
    </tr>
    <% elecs.forEach(elec=>{ %>

      <tr>
        <td>
          <%= elec.name %>
        </td>
        <td>
          <%= elec.price %>
        </td>
        <td>
          <%= elec.brand %>
        </td>
      </tr>

      <% }) %>
  </table>
  <br>
  <a href="/elecs">뒤로가기</a>
</body>

</html>